<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Home</a></li>
      <li class="breadcrumb-item"><a>Department</a></li>
      <li class="breadcrumb-item active">Create Department</li>
    </ol>
  </nav>
  <!--  -->
  
  
  <div class="row">
  
    <div class="card-body">
      <form class="needs-validation" novalidate="">

      
        <!-- .form-row -->
        <div class="form-row">
            <!-- form grid -->
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="sel1">Department name <abbr title="Required">*</abbr></label> <select class="custom-select" id="sel1" required="">
                      <option value=""> Choose... </option>
                      <option> United States </option>
                    </select>
                  </div>
            </div><!-- /form grid -->
    
            <div class="col-md-6 mb-3">
            
              <div class="form-group">
                <label for="sel1">Faculty name <abbr title="Required">*</abbr></label> <select class="custom-select" id="sel1" required="">
                  <option value=""> Choose... </option>
                  <option> United States </option>
                </select>
              </div>
            </div><!-- /form grid -->
          </div><!-- /.form-row -->
  
        <!-- .form-actions -->
        <div class="form-actions">
          <button class="btn " type="submit" style=" background-color: crimson; color: white;">Create Department</button>
        </div><!-- /.form-actions -->
      </form><!-- /form .needs-validation -->
    </div>
  
  
  </div>
  