<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Home</a></li>
      <li class="breadcrumb-item"><a>Faculty</a></li>
      <li class="breadcrumb-item active">Create Faculty</li>
    </ol>
  </nav>
  <!--  -->
  
  
  <div class="row">
  
    <div class="card-body">
      <form class="needs-validation" novalidate="">

      
        <!-- .form-row -->
        <div class="form-row">
            <!-- form grid -->
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="sel1">Faculty name <abbr title="Required">*</abbr></label> 
                    <input type="text" class="form-control" placeholder="Name" required="">
                  

                  </div>
            </div><!-- /form grid -->
    

               <!-- .form-actions -->
        <div class="form-actions col-md-6 " style="margin-top: 20px;">
            <button class="btn " type="submit" style=" background-color: crimson; color: white;">Create Department</button>
          </div><!-- /.form-actions -->
        
          </div><!-- /.form-row -->
  
     
      </form><!-- /form .needs-validation -->
    </div>
  
  
  </div>
  
