<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Home</a></li>
      <li class="breadcrumb-item"><a>Course</a></li>
      <li class="breadcrumb-item active">Create Course</li>
    </ol>
  </nav>
  <!--  -->
  
  
  <div class="row">
  
    <div class="card-body">
      <form class="needs-validation" novalidate="">
  
        <!-- .form-row -->
        <div class="form-row">
          <!-- form grid -->
          <div class="col-md-6 mb-3">
            <label>Course Code  <abbr title="Required">*</abbr></label> <input type="text" class="form-control" placeholder="Name" required="">
            <div class="valid-tooltip"> Looks good! </div>
          </div><!-- /form grid -->
  
          <div class="col-md-6 mb-3">
            <label>Course Title <abbr title="Required">*</abbr></label> <input type="text" class="form-control"  placeholder="Name" required="">
            <div class="valid-tooltip"> Looks good! </div>
          </div><!-- /form grid -->
        </div><!-- /.form-row -->


          <!-- .form-row -->
          <div class="form-row">
            <!-- form grid -->
            <div class="col-md-6 mb-3">
              <label>Course Code  <abbr title="Required">*</abbr></label> <input type="text" class="form-control" placeholder="Name" required="">
              <div class="valid-tooltip"> Looks good! </div>
            </div><!-- /form grid -->
    
            <div class="col-md-6 mb-3">
              <label>Course Title <abbr title="Required">*</abbr></label> <input type="text" class="form-control"  placeholder="Name" required="">
              <div class="valid-tooltip"> Looks good! </div>
            </div><!-- /form grid -->
          </div><!-- /.form-row -->
      

        <!-- .form-row -->
        <div class="form-row">
            <!-- form grid -->
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="sel1">Department <abbr title="Required">*</abbr></label> <select class="custom-select" id="sel1" required="">
                      <option value=""> Choose... </option>
                      <option> United States </option>
                    </select>
                  </div>
            </div><!-- /form grid -->
    
            <div class="col-md-6 mb-3">
            
              <div class="form-group">
                <label for="sel1">Semester <abbr title="Required">*</abbr></label> <select class="custom-select" id="sel1" required="">
                  <option value=""> Choose... </option>
                  <option> First Semester </option>
                  <option> Second Semester </option>
                </select>
              </div>
            </div><!-- /form grid -->
          </div><!-- /.form-row -->
  
        <!-- .form-actions -->
        <div class="form-actions">
          <button class="btn " type="submit" style=" background-color: crimson; color: white;">Create Course</button>
        </div><!-- /.form-actions -->
      </form><!-- /form .needs-validation -->
    </div>
  
  
  </div>
  