    <!-- .app -->
    <div class="app has-fullwidth">
        <!--[if lt IE 10]>
        <div class="page-message" role="alert">You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</div>
        <![endif]-->
        <!-- .app-header -->
        <!-- .app-header -->
        <app-nav-bar></app-nav-bar>
        <!-- /.app-header -->
        <!-- /.app-header -->
        <!-- .app-main -->
        <main class="app-main">
          <!-- .wrapper -->
          <div class="wrapper">
            <!-- .page -->
            <div class="page">
              <!-- .page-inner -->
              <div class="page-inner">
                <!-- .container -->
                <div class="container">
  
                  <!-- .page-section -->
                  <div class="page-section">
  
  
                    <div class="page-section">
                      <!-- .section-block -->
  
                      <router-outlet></router-outlet>
  
                      <!-- /.section-block -->
  
  
                    </div>
  
  
                  </div><!-- /.page-section -->
                </div><!-- /.container -->
              </div><!-- /.page-inner -->
            </div><!-- /.page -->
          </div><!-- /.wrapper -->
          <!-- .app-footer -->
          <app-footer></app-footer>
          <!-- /.app-footer -->
        </main><!-- /.app-main -->
      </div><!-- /.app -->
  
  
